<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw and Print</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        #drawing-canvas {
            display: block;
            margin: 0 auto;
            background-color: white;
            image-rendering: pixelated;
        }
        .active-tool {
            background-color: #ddd; /* Highlight color for active tool */
        }
    </style>
</head>
<body>
    <a href="/" class="back-link">back</a>
    <h1>Draw and Print</h1>
    <p>Here you can make a little doodle and it'll print. If you are particularly attached to your masterpiece, you can save the drawing by clicking the save drawing button. </p>
    <div id="flash-messages"></div> <!-- Add this line -->

    <div class="container">
        <div class="section">            <div class="drawing-tools">
            <button id="tool-pencil">Pencil</button>
            <button id="tool-text">Text</button>
            <button id="tool-eraser">Eraser</button>
            <button id="undo">Undo</button>
        </div> <br> <br>
            <canvas id="drawing-canvas" width="576" height="576" style="border:1px solid #000;"></canvas>

            <br><br><br><br>

            <div class="drawbuttons">
                <button id="clear-drawing">Clear Drawing</button>
                <button id="save-drawing">Save Drawing</button>
                <button id="print-drawing">Print Drawing</button>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/drawing.js') }}"></script>
</body>
</html>