<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thermal Printer Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="section">
            <h2>Print Text</h2>
            <form id="text-form" action="{{ url_for('main.print_text_route') }}" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Print Text</button>
            </form>
        </div>

        <div class="section">
            <h2>Print Image</h2>
            <form id="image-form" action="{{ url_for('main.print_image_route') }}" method="post" enctype="multipart/form-data" onsubmit="return validateImageForm();">
                <label for="image">Upload Image:</label>
                <input type="file" id="image" name="image" accept="image/*" required>
                <label for="dither">Dithering:</label>
                <select id="dither" name="dither">
                    <option value="FLOYDSTEINBERG">Floyd-Steinberg</option>
                    <option value="BAYER_2x2">Bayer 2x2</option>
                    <option value="BAYER_4x4">Bayer 4x4</option>
                    <option value="BAYER_8x8">Bayer 8x8</option>
                    <option value="THRESHOLD">Threshold</option>
                </select>
                <button type="submit" id="print-image-button" disabled>Print Image</button>
            </form>
            <h3>Preview:</h3>
            <div class="preview-container">
                <img id="preview" src="" alt="Image Preview">
            </div>
            <button id="use-camera-button">Use Camera</button>
            <div id="camera-container"></div>
            <button id="take-picture-button" disabled>Take Picture</button>
        </div>

        <hr>

        <div class="centered-container">
            <h2>Draw and Print</h2>
            <a href="{{ url_for('main.drawing_page') }}">
                <img id="drawing-screenshot" src="{{ url_for('static', filename='images/drawing-screenshot.png') }}" alt="Drawing Canvas" style="border:1px solid #000;">
            </a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        function validateImageForm() {
            const imageInput = document.getElementById('image');
            if (!imageInput.files.length) {
                alert('Please upload an image or take a picture.');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>